*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.navbar{
    background-color: white !important;
    box-shadow: 0px 2px 2px lightgrey;
}
.inner-container{
    /* border:2px solid black; */
    display: flex;
flex-direction: column;
gap:30px;
margin-top: 20px !important;
}
.question{
    border:2px solid lightgrey !important;
    /* border-radius: 10px; */
    /* padding:10px 10px; */
    width:100% !important;
}
.button{
    display:flex;
    justify-content: space-between;
    width:100% !important;
     padding:10px 10px;
     
}
.fa-chevron-down{
    font-size: 15px;
}
.question i{
    font-size: 20px;
}
.question button{
    border:none;
    outline:none;
    background-color: transparent;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

  
  .answer {
    background-color: rgba(211, 211, 211, 0.248) !important;
<<<<<<< HEAD
    color: black;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
    padding: 0px 10px;
  }
  
  .answer.show {
    max-height: 200px;
=======
    color:black;
    transition:0.5s;
}
.hide{
    display:none;
>>>>>>> 37c02dc7d095493857deb3b6ca28f4f21fb7d5a2
    text-align: left !important;
    padding-top: 20px;
    padding: 0px 10px;
  }
 

.slider-container{
    border:2px solid black;
    width:60% !important;
    height:400px;
}
.wrapper{
    display:flex;
}
.card{
    width:300px !important;
    height:400px !important;
    border:2px solid red !important;
}
